.vscode/**
.github/**
.gitattributes
.gitignore
CONTRIBUTING.md
SECURITY.md
docs/**
eslint.config.mjs
.editorconfig
.prettierignore
.prettierrc.json
scripts/**
src/**
test/**
tsconfig.json
**/*.map
dist/test/**
node_modules/**
*.vsix
